.input-title{
    width: 300px;
    position: relative;
}

.input-margin{
    margin-top: 20px;
    text-align: center;
}

.MuiTouchRipple-root{
    border-radius: none;
}

.p-style {
    margin-top: 20px;
    color: rgb(204, 6, 6);
    text-align: center;
    position: relative;
}

.buttons-margin{
    margin-top: 20px;
}

.submit {
    margin-top: 30px;
}