.text{
    text-transform: uppercase; 
    background-image: linear-gradient(to right, #00F260, #f79d00, #0575E6, #64f38c);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    
    background-size: 300%;
    background-position: -100%;  
    
    animation: animatedText 5s infinite alternate-reverse;
    font-weight: bold!important;
  }
  
  @keyframes animatedText{
    to{
      background-position: 100%; 
    }
  }